@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
    /* Show scrollbar */
    .scrollbar::-webkit-scrollbar {
        display: block;
    }
    .scrollbar {
        -ms-overflow-style: auto; /* IE and Edge */
        scrollbar-width: auto; /* Firefox */
    }
}

.swiper-button-prev,
.swiper-button-next {
    @apply p-6 bg-white rounded-full;
}
.swiper-button-prev::after,
.swiper-button-next::after {
    @apply text-2xl text-blue-600;
}
